# Visual Studio temporary files
.vs/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/Debug/
!bin/Release/      
!bin/Release/**

# Publish output 
publish/

# Node modules 
node_modules/
